<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/signin">
        <p>
            <label for="username" class="sr-only">账号</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="账号" value="user1" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">密码</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="密码" value="password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div>
</body></html>
