name: Build
on:
  push:
    branches: main
  pull_request:
    branches: main
  schedule:
    - cron: '0 16 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@main
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Build with Gradle
        uses: ihub-pub/actions@main
        with:
          run: build -x test

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@main
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Test with Gradle
        uses: ihub-pub/actions@main
        with:
          run: test

      - name: Upload Coverage Reports
        if: ${{ github.repository_owner == 'ihub-pub' }}
        run: |
          bash <(curl -s https://codecov.io/bash)

      - name: Upload Test Result
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: tests
          path: |
            */build/reports/tests
          retention-days: 1

  publish:
    if: ${{ github.event_name == 'push' && github.repository_owner == 'ihub-pub' }}
    needs: build
    name: Publish to Snapshot Repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@main
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Publish to Snapshot Repository
        uses: ihub-pub/actions/publish@main
        with:
          repoUsername: ${{ secrets.REPO_USERNAME }}
          repoPassword: ${{ secrets.REPO_PASSWORD }}

  analyze:
    if: ${{ github.event_name == 'schedule' && github.repository_owner == 'ihub-pub' }}
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Initialize CodeQL
        uses: github/codeql-action/init@main

      - name: Autobuild
        uses: github/codeql-action/autobuild@main

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@main

  validation:
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@master
