name: Publish
on:
  release:
    types: published

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java_version: [ 17 ]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'adopt'
          cache: 'gradle'

      - name: Publish to Central Repository
        uses: ihub-pub/bot/publish@0effa680d71d2151a95d69441372eeed9c18c269 # v3.0.1
        with:
          repoUsername: ${{ secrets.REPO_USERNAME }}
          repoPassword: ${{ secrets.REPO_PASSWORD }}
          release: true
          parallel: false
          signingKeyId: ${{ secrets.SIGNING_KEY_ID }}
          signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          signingSecretKey: ${{ secrets.SIGNING_SECRET_KEY }}
