name: Gradle Dependency Graph
on:
  schedule:
    - cron: '0 */6 * * *'
  push:
    branches: main

permissions:
  contents: read

jobs:
  gradle-action-detection:
    if: ${{ github.repository_owner == 'ihub-pub' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java_version: [ 17, 21, 25 ]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # main
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'adopt'

      - name: Setup Gradle to generate and submit dependency graphs
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3.5.0
        with:
          dependency-graph: generate-and-submit
          arguments: dependencies
